Django
Pillow
gunicorn
django_heroku
psycopg2        
pytz                                                                                                                                                       
whitenoise
dj-database-url
