Django
Pillow
gunicorn
django_heroku
psycopg2        
pytz2                                                                                                                                                          
whitenoise
dj-database-url
