#bar
{
    position: relative;
    bottom: -175px;
    padding-left: 78%;
    padding-top: 10px;
    padding-right: 40px;
}
#blogs
{
    position: relative;
    top: -90px;
    padding-left: 120px;
    width: 80%;
    right: 45px;
}
#he
{
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    padding:9px;
    padding-left: -20px;
}
.row
{
    padding-left: 25px;
}
.card-group
{
    gap: 2rem;
}


